* {
    box-sizing: border-box;
}

:root {
    --primary-color: #0f1b4c;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background: #E6F0FF;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 98px;
    border-radius: 8px;
    background: var(--primary-color);
    flex-shrink: 0;
    color: #fff;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 18px 16px;
}

.btn:hover {
    opacity: 0.9;
}
/* Header */
.header {
    height: 100vh;
    background: E6F0FF;
}

.content {
    width: 1110px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    display: flex;
    align-items: center;
    padding-top: 38px;
}

.navbar ul {
    display: flex;
    margin-left: 50px;
}

.navbar .actions {
    margin-left: auto;
}

.navbar ul a {
    color: #4f5361;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 8px 14px;
}

.navbar ul a:hover {
    text-decoration: underline;
}

.navbar .action-link {
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 500;
}

.navbar .action-btn {
    padding: 13px 16px;
    margin-left: 18px;
}

.hero {
    margin-top: 130px;
}

.hero .info {
    width: 52%;
}



.hero .sub-title {
    color: #687690;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.01em;
    margin-bottom: 8px;
}

.hero .title {
    color: #000336;
    font-size: 6.4rem;
    font-weight: 700;
    line-height: 119%;
    margin-bottom: 30px;
}

.hero .desc {
    color: #5a6473;
    font-size: 18px;
    font-weight: 400;
    line-height: 177.778%;
    margin-bottom: 40px;
}

.hero .hero-cta {
    padding-left: 38px;
    padding-right: 38px;
}
